:root {
  color-scheme: light dark;

  --c-background: light-dark(#b1ece3, #14242f);
  --c-surface: light-dark(#e5f4f3, #14364c);

  --c-primary: light-dark(#2b6876, #47a8a6);
  --c-primary-hover: light-dark(#14364c, #70e1d2);
  --c-primary-active: light-dark(#0d1b24, #b1ece3);

  --c-secondary: light-dark(#47a8a6, #70e1d2);
  --c-secondary-hover: light-dark(#2b6876, #b1ece3);

  --c-text: light-dark(#14242f, #e6f7f5);
  --c-text-muted: light-dark(#2b6876, #70e1d2);
  --c-text-inverse: light-dark(#ffffff, #14242f);

  --c-border: light-dark(#70e1d2, #2b6876);
  --c-border-strong: light-dark(#2b6876, #47a8a6);

  --c-button: light-dark(#2b6876, #70e1d2);
  --c-button-hover: light-dark(#14364c, #b1ece3);
  --c-button-text: light-dark(#ffffff, #14242f);

  --c-filter-active: light-dark(#0d1b24, #b1ece3);

  --s-title-page: 2rem;
  --s-title-card: 1.25rem;
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

/* Reset Default Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
main {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

a {
  color: inherit;
}

button {
  font: inherit;
  line-height: inherit;
  color: currentColor;
  border: none;
}

input[type="checkbox"] {
  appearance: none;

  width: 1.2rem;
  height: 1.2rem;

  border: 2px solid var(--c-border-strong);

  cursor: pointer;
  background: var(--c-surface);

  display: grid;
  place-content: center;

  transition: all 0.2s ease;
}

input[type="checkbox"]::before {
  content: "✓";

  color: var(--c-button-text);
  font-size: 0.8rem;
  font-weight: bold;

  transform: scale(0);
  transition: transform 0.15s ease;
}

input[type="checkbox"]:checked {
  background: var(--c-primary);
  border-color: var(--c-primary);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Base Styles */
body {
  background: var(--c-background);
  color: var(--c-text);

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.create-page {
  max-width: 40%;
  margin-inline: auto;
}

main {
  max-width: 1300px;
  width: 90%;
  margin-inline: auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

h1 {
  font-size: var(--s-title-page);
  color: var(--c-text);
  margin-top: 40px;
}

h2 {
  font-size: var(--s-title-card);
  color: var(--c-text);
}

a {
  text-decoration: none;
}

.button {
  background: var(--c-button);
  color: var(--c-button-text);

  padding: 0.4em 1em;
  min-width: 2.5rem;

  transition:
    background 0.25s ease,
    color 0.25s ease;
}

.button:hover {
  background: var(--c-button-hover);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
}

.filter-item::after {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 1.2em;
  height: 1em;

  line-height: 1;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;

  border: 2px solid var(--c-border-strong);

  cursor: pointer;
  background: var(--c-surface);
  transition: all 0.2s ease;
}

input[type="checkbox"]:hover {
  border-color: var(--c-button-hover);
}

input[type="checkbox"]:checked {
  background: var(--c-primary);
  border-color: var(--c-primary);
}

.todo-list {
  list-style: none;
  padding-left: 0;
}

/*Form for creating todos*/
.todo-form {
  background: var(--c-surface);
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*Makes all the todo items the same length*/
.todo-form div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.todo-form input[type="text"],
.todo-form input[type="date"],
.todo-form input[type="number"] {
  padding: 0.6rem;
  border: 1px solid var(--c-border);
  background: var(--c-background);
  color: var(--c-text);
  outline: none;
  color: var(--c-text);
}

.todo-form input[type="text"]:focus,
.todo-form input[type="date"]:focus,
.todo-form input[type="number"]:focus {
  border-color: var(--c-primary);
}

.todo-form input::placeholder {
  color: var(--c-text-muted);
}

.todo-form div:has(input[type="checkbox"]) {
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

.todo-form input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
  border: 2px solid var(--c-border-strong);
  cursor: pointer;
  background: var(--c-surface);
}

.todo-form input[type="checkbox"]:checked {
  background: var(--c-primary);
  border-color: var(--c-primary);
}

.todo-form .button {
  margin-top: 0.5rem;
}

/*Layout*/
.todo-item {
  background: var(--c-surface);

  display: grid;
  padding: 1em;
  gap: 1em;
  margin-top: 1em;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "checkbox content priority actions";

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "checkbox"
      "content"
      "priority"
      "actions";
  }
}

.checkbox-area {
  grid-area: checkbox;
  gap: 0.3em;
  display: flex;
  align-items: center;
}

.content-area {
  grid-area: content;
}

.priority-area {
  grid-area: priority;
  gap: 0.5em;
  display: flex;
  align-items: center;
}

.actions-area {
  grid-area: actions;
  gap: 0.5em;
  display: flex;
  align-items: center;
}

/* Theme Icon Animation */
#theme-icon {
  display: inline-block;

  transition:
    transform 0.65s ease,
    opacity 0.65s ease;
}

#theme-icon.flip {
  transform: rotate(180deg) scale(0.8);
  opacity: 0;
}

/* Sort Icon States */
.filter-item[data-sort-direction="desc"]:after {
  content: "↓";
}

.filter-item[data-sort-direction="asc"]:after {
  content: "↑";
}

.filter-item[data-sort-direction="none"]:after {
  content: "⇅";
}
